@import "variables.scss";

.btn {
  background-color: $bg-color;
  height: 35px;
  font-size: large;
  color: $font-color;
  border: none;
}

.navbar {
  padding: 20px;

  margin-bottom: 40px;
  .home {
    float: left;
  }

  .login-register {
    float: right;
  }
  .login {
    margin-left: 15px;
    padding-left: 0;
  }
  .logout {
    float: right;
  }
  .profile {
    float: left;
    margin-left: 35px;
    color: $font-color;
  }
  .favorites {
    margin-right: 40px;
  }
  .watchList {
    margin-left: 40px;
  }
  .btn:hover {
    box-shadow: 0 0 15px 4px gray;
    border: none;
    padding: none;
  }
}
