@import "variables.scss";

$btn-color: #fff;

$bg-color: #343a40;

$font-color: rgb(185, 182, 182);

$border: 2px solid #495057;

.main-fav {
  background-color: #495057;
  margin: auto;
  width: 50vw;
  height: 80vh;
  overflow: auto;
  // border: $border;
}

.sec-fav{
  
}

.each-fav{
  display: flex;
  margin: 5px;
  border: 2px solid gray;
  // overflow: auto;
  
}

.each-para {
  float: right;
}

.delete-fav{
  height: 25px;
  float: right;
  margin-top: 2px;
  
}

.img-fav{
  width: 200px;
}