@import "variables.scss";



.main-page-home{
    // height: 100vh;
    // display: grid;
    // overflow: hidden;
    // grid-template-rows: auto;
    margin-top: 50px;
    background-color: $bg-color;
}


.main-home{
    display: flex;
    // grid-template-rows: auto auto;
    // flex-direction: row;
    overflow: auto;
    // border: $border;
    padding: 5px;
    margin: auto;
    width: 95%;
    
    
}

.fixed-home{
    // display: grid;
    // position: fixed;
    // margin: auto;
    // justify-content: center;
    // width: 50%;
    // border: $border;
    margin-bottom: 15px;

}



.img-home{
    max-width: 200px;
    // overflow: hidden;
    margin: 5px;
    border-style: solid;
}