@import "variables.scss";

.main-page-home {
  // height: 100vh;
  // display: grid;
  // overflow: hidden;
  // grid-template-rows: auto;
  // margin-top: 50px;
  // background-color: $bk-image;
  // margin: auto;
  // width: 95vw;
  // width: 50%;
}

.main-home {
  // display: flex;

  // overflow: auto;

  // padding: 5px;
  // margin: auto;
}

.fixed-home {
  // margin-top: 55px;
  // margin-bottom: 15px;
}

.img-home {
  max-width: 18em;
  margin-bottom: 0;

  border-style: solid;
  margin-left: 7em;
}

.display-home {
  display: grid;
  grid-template-columns: auto auto;
  width: 85vw;
  margin: auto;
  
  height: 35vw;
  overflow-y: hidden;
  // border: $border;
  // margin-bottom: 5em;
}

.h-home {
  margin-top: 10px;
  color: white;
  margin-bottom: 0;
}

.flex-home {
  margin-left: 0.5em;
  margin-right: 7em;
  // overflow: auto;
}
.main-fav{
  // overflow: hidden;
  // border: 2px solid black;
  padding: 0em;
  height: 85vh;
}

.indicator-home{
  margin-top: 12px;
}