@import "variables.scss";


.main-searchbar{
    // width: 333px;
}



.btn{
    background-color: $bg-color;
    
}

.img-searchPage{
    width: 200px;
    margin: 5px;
}

.p-searchPage{
    height: 30vh;
    overflow: auto;
}

.nav-searchbar{
    color: whitesmoke;
}

.nav-searchbar:hover{
//      box-shadow: 0 0 15px 4px gray;
// color: whitesmoke;
}

.search-icon{
    // padding: 25px;
    margin-left: -50px;
    margin-top: 0px;
    // width: 50px;
    color: black;
}